<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body>
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">
    {{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布
    <span class="post-meta">
      &nbsp;| &nbsp;
      <span id="busuanzi_container_page_pv">
        阅读量: <span id="busuanzi_value_page_pv"></span>次
      </span>
    </span>
  </div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  
  <!-- 添加评论功能 -->
  {% if page.comments != false %}
  <div class="post-comments">
    <h2>评论</h2>
    {% include comments.html %}
  </div>
  {% endif %}
  
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>